<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
      <title>Test</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
  <body>
	<p class="head"> Game Recon</p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="gameID"  type="text" class="ghost-input" placeholder="Enter a Game ID" required>
            <input type="submit" class="ghost-button" value="Get Game Information" ">
			</form>
		
        <% var playerCount;
        if(playerCount !== null){ %>
          <p><%= playerCount %></p>
		  
        <% } %>

        <% var gameName;
        if(gameName !== null){ %>
          <p><%= gameName %></p>
        <% } %>
          
        <% var gameType;
        if(gameType !== null){ %>
          <p><%= gameType %></p>
        <% } %>
          
        <% var gameDescription;
        if(gameDescription !== null){ %>
          <p><%= gameDescription %></p>
        <% } %>
		
		 <% var ID;
        if(ID !== null){ %>
        <% } %>
		
        <% var error;
        if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
		
			<div class="resp-container">
				<p class="green">Use this app id to see a graph depicting player activity for this game?: </p>
				<input type="text" id="appId" value="<%= ID%>">
				<button onclick="submitGameID()">Click for Graph</button>	
				<iframe id = 'url' src="about:blank"  height="389px" width="100%" scrolling="no" frameborder='0'></iframe>
			</div>
	</fieldset>
		
    </div>
	
	<script type="text/javascript">
	function submitGameID(){
		document.getElementById('url').src = "https://steamdb.info/embed/?appid="+ $('#appId').val();
	}
	
  </script>

 
  </body>
 
</html>
